# Python
*.pyc
__pycache__/
env/
venv/
*.sqlite3
*.log

# Django
/staticfiles/
/media/

# Docker
*.env
*.dockerignore
*.env.production
*.pyc
*.egg-info
docker-compose.override.yml
.env.production

# IDEs
.vscode/
.idea/

# OS
.DS_Store
myvenv/
myvenv/
project/staticfiles/
