version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: fbnotes_db
    restart: always
    environment:
      MYSQL_DATABASE: fbnotes_db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5


  django:
    build: .
    container_name: fbnotes_django
    command: sh -c "sleep 20 && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DEBUG=1
      - DJANGO_SETTINGS_MODULE=project.settings

volumes:
  db_data:
